AgencySystem/Outbound/Java/Example1/external-attachment-receiver/external-attachment-receiver-source/src/main/resources/wsdl/OnlineBatchReciever.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://AltInn.no/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://AltInn.no/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://AltInn.no/webservices/">
      <s:element name="ReceiveOnlineBatchExternalAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receiversReference" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sequenceNumber" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="batch" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachments" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveOnlineBatchExternalAttachmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveOnlineBatchExternalAttachmentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveOnlineBatchExternalAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveOnlineBatchExternalAttachment" />
  </wsdl:message>
  <wsdl:message name="ReceiveOnlineBatchExternalAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveOnlineBatchExternalAttachmentResponse" />
  </wsdl:message>
  <wsdl:portType name="OnlineBatchReceiverSoap">
    <wsdl:operation name="ReceiveOnlineBatchExternalAttachment">
      <wsdl:input message="tns:ReceiveOnlineBatchExternalAttachmentSoapIn" />
      <wsdl:output message="tns:ReceiveOnlineBatchExternalAttachmentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OnlineBatchReceiverSoap" type="tns:OnlineBatchReceiverSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveOnlineBatchExternalAttachment">
      <soap:operation soapAction="http://AltInn.no/webservices/ReceiveOnlineBatchExternalAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OnlineBatchReceiverSoap12" type="tns:OnlineBatchReceiverSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveOnlineBatchExternalAttachment">
      <soap12:operation soapAction="http://AltInn.no/webservices/ReceiveOnlineBatchExternalAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OnlineBatchReceiver">
    <wsdl:port name="OnlineBatchReceiverSoap" binding="tns:OnlineBatchReceiverSoap">
      <soap:address location="http://localhost/OnlineBatchReceiver/OnlineBatchReceiver.asmx" />
    </wsdl:port>
    <wsdl:port name="OnlineBatchReceiverSoap12" binding="tns:OnlineBatchReceiverSoap12">
      <soap12:address location="http://localhost/OnlineBatchReceiver/OnlineBatchReceiver.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>