AgencySystem/Outbound/DotNet/Example1/AltinnSimulatorSample/AltinnSim/Service References/OnlineBatchReceiver/OnlineBatchReceiverSoap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://AltInn.no/webservices/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://AltInn.no/webservices/">
      <s:element name="ReceiveOnlineBatchExternalAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receiversReference" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="sequenceNumber" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="batch" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="attachments" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveOnlineBatchExternalAttachmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveOnlineBatchExternalAttachmentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveOnlineBatchExternalAttachmentSoapIn">
    <wsdl:part name="parameters" element="s0:ReceiveOnlineBatchExternalAttachment" />
  </wsdl:message>
  <wsdl:message name="ReceiveOnlineBatchExternalAttachmentSoapOut">
    <wsdl:part name="parameters" element="s0:ReceiveOnlineBatchExternalAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:portType name="OnlineBatchReceiverSoapSoap">
    <wsdl:operation name="ReceiveOnlineBatchExternalAttachment">
      <wsdl:input message="tns:ReceiveOnlineBatchExternalAttachmentSoapIn" />
      <wsdl:output message="tns:ReceiveOnlineBatchExternalAttachmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OnlineBatchReceiverSoapSoap" type="tns:OnlineBatchReceiverSoapSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveOnlineBatchExternalAttachment">
      <soap:operation soapAction="http://AltInn.no/webservices/ReceiveOnlineBatchExternalAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OnlineBatchReceiverSoapSoap12" type="tns:OnlineBatchReceiverSoapSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveOnlineBatchExternalAttachment">
      <soap12:operation soapAction="http://AltInn.no/webservices/ReceiveOnlineBatchExternalAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OnlineBatchReceiverSoap">
    <wsdl:port name="OnlineBatchReceiverSoapSoap" binding="tns:OnlineBatchReceiverSoapSoap">
      <soap:address location="http://localhost:5133/OnlineBatchReceiverSoap.asmx" />
    </wsdl:port>
    <wsdl:port name="OnlineBatchReceiverSoapSoap12" binding="tns:OnlineBatchReceiverSoapSoap12">
      <soap12:address location="http://localhost:5133/OnlineBatchReceiverSoap.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>